@model PagedPatientsViewModel

@{
    ViewData["Title"] = "Patients";
}

<h2>Patients</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Patient</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>EGN</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var patient in Model.Patients)
        {
            <tr>
                
                <td>@patient.FirstName</td>
                <td>@patient.MiddleName</td>
                <td>@patient.LastName</td>
                <td>@patient.EGN</td>
                <td>@patient.PhoneNumber</td>
                <td>@patient.Email</td>
                <td>@patient.Address</td>
                <td>                    
                        <a asp-action="Details"
                           asp-route-id="@patient.Id"
                           class="btn btn-sm btn-primary">
                            Details
                        </a>

                        <a asp-action="Edit"
                           asp-route-id="@patient.Id"
                           class="btn btn-sm btn-outline-primary">
                            Edit
                        </a>

                        <a asp-action="Delete"
                           asp-route-id="@patient.Id"
                           class="btn btn-sm btn-outline-danger">
                            Delete
                        </a>                    
                </td>

            </tr>
        }
    </tbody>
</table>
<nav>
    <ul class="pagination justify-content-center">

        @if (Model.Page > 1)
        {
            <li class="page-item">
                <a class="page-link"
                   asp-action="Index"
                   asp-route-page="@(Model.Page - 1)">
                    Previous
                </a>
            </li>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.Page ? "active" : "")">
                <a class="page-link"
                   asp-action="Index"
                   asp-route-page="@i">
                    @i
                </a>
            </li>
        }

        @if (Model.Page < Model.TotalPages)
        {
            <li class="page-item">
                <a class="page-link"
                   asp-action="Index"
                   asp-route-page="@(Model.Page + 1)">
                    Next
                </a>
            </li>
        }

    </ul>
</nav>
